doctype html
html(lang="ua")
    head
        title= pageTitle
        link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
        link(rel="stylesheet", href="css/custom/style.css")
    body
        h1 Jade - node template engine
        #container.col
            if youAreUsingJade
                p You are amazing
            else
                p Get on it!
            p.
                Jade is a terse and simple
                templating language with a
                strong focus on performance
                and powerful features.
        script(data-main="main", src="libs/require.js").

