doctype html
html(lang="ua")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Simple Tags")
        meta(name="keywords" content="Tetiana Semak photographer, Тетяна Семак фотограф, Таня Семак, фотографія художня, зйомка, фото, фотозйомка")
        meta(name="description" content="Tetiana Semak | Photographer | Personal Site")

        title= pageTitle
        link(rel="icon" href="static/favicon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/vendor/bootstrap.min.css")
        link(rel="stylesheet", href="css/custom/style.css")
    body
        div.wrapper.container
            div.main-content.row
        script(data-main="main", src="libs/require.js").

