<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
    <div id="logo" title="<%= header.logo.title %>">
        <img src="static/logo/logo.png" class="home" title="<%= header.logo.title %>"
             alt="<%= header.logo.alt %>"
             height="133" width="230"/>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="menu-box row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
            <ul class="main-menu">
                <li><span class="home"><%= header.mainMenu.homePage %></span></li>
                <li><span class="submenu-trigger"><%= header.mainMenu.servicesPrices %></span></li>
                <li><span class="contacts"><%= header.mainMenu.contacts %></span></li>
            </ul>
            <br/>
            <ul class="sub-menu">
                <li><span class="wed_service"><%= header.subMenu.wedService %></span></li>
                <li><span class="school_albums"><%= header.subMenu.schoolAlbums %></span></li>
            </ul>
        </div>
    </div>
</div>

