<div class="masonry-container col-xs-12 col-sm-12 col-md-8 col-lg-10 col-lg-offset-1 col-md-offset-2">
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/1.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/3.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/5.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/6.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/7.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/8.jpg" alt="" height="230" width="305"/></div>
    <div class="photo"><img data-original="static/galleries/9.jpg" alt="" height="230" width="305"/></div>
</div>