<div class="about_me">
    <div class="personal-info">
        <img src="modules/contacts/images/contacts_photo.jpg" id="photo" alt="Me" height="347" width="270"/>
        <div class="info-box">
            <p id="text"><%= contacts.greetingText %></p>
            <div id="contacts">
                <h4>Мої Контакти:</h4>
                <span id="mail" class="cont">
                    <i class="icon_mail"><img src="modules/contacts/images/pics/mail.png" height="20" width="20"/></i>
                    <a href="<%= contacts.myContacts.mailTo %>"><%= contacts.myContacts.mail %></a>
                </span>
                <span id="vk" class="cont">
                    <i class="icon_vk"><img src="modules/contacts/images/pics/vk1.png" height="20" width="20"/></i>
                    <a href="<%= contacts.myContacts.vkLink %>" target="_blank"><%= contacts.myContacts.vk %></a>
                </span>
                <span id="phone" class="cont">
                    <i class="icon_phone"><img src="modules/contacts/images/pics/phone.png" height="20" width="20"/></i>
                    <a><%= contacts.myContacts.phone %></a>
                </span>
            </div>
        </div>
    </div>
    <div class="ref-box">
        <h4><%= contacts.refBox.recServices %></h4>
        <div class="video-ref">
            <p><%= contacts.refBox.services.video %></p>
            <a class="img" href="http://filmark.com.ua"><img src="modules/contacts/images/pics/filmark.jpg" alt="filmark"></a>
            <a class="site" href="http://filmark.com.ua">filmark.com.ua</a>
            <a class="vk" href="<%= contacts.refBox.services.filmarkLinkVk %>">vk.com/v_filmark</a>
        </div>
        <div class="decor-ref">
            <p><%= contacts.refBox.services.decor %></p>
            <a class="img" href="http://vk.com/myatadecor"><img src="modules/contacts/images/pics/myata.jpg" alt="Myata"></a>
            <a class="vk" href="http://vk.com/myatadecor">vk.com/myatadecor</a>
        </div>
        <div class="vis-ref">
            <p>Візажист Вікторія Гута</p>
            <a class="vk" href="http://vk.com/huta_v">http://vk.com/huta_v</a>
        </div>
    </div>
</div>