
/*layout styles begin*/

html, body{
    margin:0;
    padding:0;
    text-align:center;
    font-family: Cambria;
    height:100%; /*для приклейки футера ко дну страницы*/
}
body {
    overflow-y: scroll;
}
.wrapper{
    display:block;
    position:relative;
    margin:0 auto;
    min-height:93%; /*для приклейки футера ко дну страницы*/
}

header{
    margin:0;
    padding:15px 0 0 0;
    text-align:center;
}
header #logo{
    display:inline-block;
    width:230px;
    height:133px;
    cursor: pointer;
}
.menu-box {
    border-bottom:1px solid gray;
    width:85%;
    margin:10px auto 0;
}
.main-menu{
    display:inline-block;
    list-style:none;
    padding:0 0 6px 11px;
    margin:0;
    width:100%;

}
.main-menu li{
    padding:0;
    margin-right:15px;
    display:inline;
}
.main-menu span, .sub-menu span{
    cursor: pointer;
    text-decoration:none;
    color:gray;
    -webkit-transition:color 0.4s ease;
    -moz-transition:color 0.4s ease;
    -o-transition:color 0.4s ease;
    -ms-transition:color 0.4s ease;
    transition:color 0.4s ease;
}
.main-menu span:hover,
.sub-menu span:hover {
    color:#53c7cb;
}
.main-menu span:active { /*Нужно подобрать цвет для активных линков*/
}
.sub-menu{
    list-style: none;
    display:none;
    height:33px;
    line-height:30px;
    margin: 0;
    padding:0 0 6px 11px;
    box-sizing:border-box;
    z-index:5;
}

.sub-menu li {
    display:inline;
    margin-right:15px;
}
/*.main-menu>li:hover .sub-menu{
    display:inline-block;
}*/
.content{
    margin:0;
    padding:0;
    display:block;
}
#grid {
    margin-top:25px;
}
#foot_buff{
    height:55px; /*для приклейки футера ко дну страницы*/
}
footer {
    font-size:12px;
    color:gray;
    height:55px;
    text-align:center;
    display:block;
    line-height:55px;
    vertical-align:middle;
    z-index:1;
}
footer a{
    color:#33849b;
}

/*layout styles end*/



/*Home page begin*/

.home-page .masonry-container {
    padding-top: 5px;
}

.spinner{
    display: none;
    margin-top: 200px;
}

.home-page .photo {
    padding: 5px;
}

.home-page .photo img:hover {
    cursor: pointer;
    box-shadow:0 0 10px  1px #0d0d0d;
    -webkit-transition:box-shadow 0.35s ease;
    -moz-transition:box-shadow 0.35s ease;
    -o-transition:box-shadow 0.35s ease;
    -ms-transition:box-shadow 0.35s ease;
    transition:box-shadow 0.35s ease;
}

@media (min-width:992px)  and (max-width: 1200px){
    .home-page .masonry-container.col-md-8 {
        width: 68.5%;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .home-page .masonry-container.col-sm-12 {
        margin-left: 6%;
    }
}

@media (max-width:767px) {
    .home-page .masonry-container.col-sm-12 {
        margin-left: 4%;
    }
}

/*Home page end*/


/*Contacts page begin*/

.contacts .about_me {
    margin-top:30px;
    font-size:15px;
    color:grey;
    font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    position:relative;
    padding:0;
}

.contacts .about_me a {
    text-decoration:none;
    color:#33849b;
    display:inline-block;
    line-height:20px;
    vertical-align:top;
    height:20px;
}

.contacts .personal-info {
    height: 347px;
}

.contacts #photo {
    float: left;
    margin-left: 150px;
}
.contacts #text{
    text-align:left;
    padding-right: 20px;
}
.contacts h4 {
    color:#000;
    margin-bottom:15px;
}
.contacts span{
    display:block;
}
.contacts #contacts{
    text-align:left;
    margin-top: 50px;
}

.contacts .cont {

}

.contacts .info-box {
    float: right;
    max-width: 600px;
    margin: 50px 95px 0 0;
}

.contacts .ref-box {
    margin: 50px 0 50px 150px;
    text-align: left;
}

.contacts .ref-box h4 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 40px;
}

.contacts .ref-box a {
    display:block;
}

.contacts .ref-box p {
    text-align: center;
    font-size: 1.2em;
}

.contacts .ref-box span {
    display: inline-block;
}

.contacts .video-ref, .vis-ref, .decor-ref {
    width: 200px;
}

.contacts .video-ref {
    display: inline-block;
    text-align: left;
    margin-left: 65px;
}

.contacts .video-ref a {
    text-align: center;
}

.contacts .video-ref .site, .contacts .video-ref .vk {
    font-size: 1.2em;
    margin-top: 10px;
}


.contacts .video-ref .img {
    height: 150px;
}

.contacts .video-ref img {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.contacts .decor-ref {
    display: inline-block;
    text-align: left;
    margin-left: 75px;
}

.contacts .decor-ref a {
    text-align: center;
}


.contacts .decor-ref .vk {
    font-size: 1.2em;
    margin-top: 10px;
}

.contacts .decor-ref .img {
    height: 180px;
    display: inline-block;
}

.contacts .vis-ref {
    display: inline-block;
    text-align: left;
    margin-left: 75px;
}

.contacts .vis-ref .vk {
    font-size: 1.2em;
    margin-top: 10px;
}

.contacts .vis-ref a {
    text-align: center;
}

.contacts .vis-ref p {
    margin-bottom: 200px;
}

/*Contacts page end*/




/*Gallery page begin*/

.gallery .gallery-arrows {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100px;
    height: 127px;
    z-index: 100;
}

.gallery #left-arrow {
    background: url(../../static/img/arrows-1x.png) no-repeat 0 0;
    left: 4%;
    top: 50%;
}

.gallery #right-arrow {
    background: url(../../static/img/arrows-1x.png) no-repeat -100px 0;
    right: 4%;
    top: 50%;
}

.lb-album{
    display:inline-block;
    position:relative;
    list-style:none;
    padding: 20px 20px 0 20px;
    width: 900px;
    margin: 0 auto;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;

}
.lb-album li{
    float: left;
    margin: 10px;
    position: relative;
    display:block;
}
.lb-album li > a,
.lb-album li > a img{
    display: block;
}


.lb-album li > a span{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    left: 10px;
    text-align: center;
    line-height: 150px;
    color: rgba(27,54,81,0.8);
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    font-size: 24px;
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
    /*background: rgb(241,210,194);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;*/
}
.open {
    cursor: pointer;
}

.open:hover{
    box-shadow:0 0 10px  1px #0d0d0d;
    -webkit-transition:box-shadow 0.3s ease;
    -moz-transition:box-shadow 0.3s ease;
    -o-transition:box-shadow 0.3s ease;
    -ms-transition:box-shadow 0.3s ease;
    transition:box-shadow 0.3s ease;
}

/*Градиент-бэкграунд за большой фоткой*/
.lb-overlay{
    width: 0;
    height: 0;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 99;
    text-align: center;
    background: rgb(83,83,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(83,83,82,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(83,83,82,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(83,83,82,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(83,83,82,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(83,83,82,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(83,83,82,1) 100%);
}
/*Текст под большой Фото*/
.lb-overlay > div{
    position: relative;
    color: rgba(27,54,81,0.8);
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
    width: 550px;
    margin: 10px auto 0 auto;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    -webkit-transition: opacity 0.3s linear 1.3s;
    -moz-transition: opacity 0.3s linear 1.3s;
    -o-transition: opacity 0.3s linear 1.3s;
    -ms-transition: opacity 0.3s linear 1.3s;
    transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3,
.lb-overlay div p{
    padding: 0px 20px;
    width: 200px;
    height: 60px;
}
.lb-overlay div h3{
    font-size: 36px;
    float: left;
    text-align: right;
    border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
    font-size: 16px;
    font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-style: italic;
}
.lb-overlay div h3 span{
    display: block;
    line-height: 6px;
}
.lb-overlay div p{
    text-align: left;
    float: left;
    width: 260px;
}
.lb-overlay div.lb-close{
    cursor: pointer;
    background: rgba(27,54,81,0.8);
    z-index: 1001;
    color: #fff;
    position: absolute;
    top: 35px;
    left: 50%;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    width: 50px;
    height: 23px;
    overflow: hidden;
    margin-left: -25px;
    opacity: 0;
    text-decoration:none;
    vertical-align:middle;
    border-radius:3px;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: opacity 0.3s linear 1.2s;
    -moz-transition: opacity 0.3s linear 1.2s;
    -o-transition: opacity 0.3s linear 1.2s;
    -ms-transition: opacity 0.3s linear 1.2s;
    transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img{
    /* height: 100%; For Opera max-height does not seem to work */
    max-height: 100%;
    position: relative;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay.target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    padding: 80px 100px 20px 100px;
}
/*Скорость открытия большой Фото*/
.lb-overlay.target img {
    -webkit-animation: fadeInScale 1.1s ease;
    -moz-animation: fadeInScale 1.1s ease;
    -o-animation: fadeInScale 1.1s ease;
    -ms-animation: fadeInScale 1.1s ease;
    animation: fadeInScale 1.1s ease;
}

.lb-overlay.target div.lb-close,
.lb-overlay.target > div{
    opacity: 1;
    filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
    0% { -webkit-transform: scale(0.6); opacity: 0; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
    0% { -moz-transform: scale(0.6); opacity: 0; }
    100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
    0% { -o-transform: scale(0.6); opacity: 0; }
    100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
    0% { -ms-transform: scale(0.6); opacity: 0; }
    100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/*
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
	http://bricss.net/post/11230266445/css-hack-to-target-opera
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}

/*Gallery page end*/
