
/*layout styles begin*/

html, body{
    margin:0;
    padding:0;
    text-align:center;
    font-family: Cambria;
    height:100%; /*для приклейки футера ко дну страницы*/
}
body {
    overflow-y: scroll;
}
.wrapper{
    display:block;
    position:relative;
    margin:0 auto;
    min-height:93%; /*для приклейки футера ко дну страницы*/
}

header{
    margin:0;
    padding:15px 0 0 0;
    text-align:center;
}
header #logo{
    display:inline-block;
    width:230px;
    height:133px;
    cursor: pointer;
}
.menu-box {
    border-bottom:1px solid gray;
    width:85%;
    margin:10px auto 0;
}
.main-menu{
    display:inline-block;
    list-style:none;
    padding:0 0 6px 11px;
    margin:0;
    width:100%;

}
.main-menu li{
    padding:0;
    margin-right:15px;
    display:inline;
}
.main-menu span, .sub-menu span{
    cursor: pointer;
    text-decoration:none;
    color:gray;
    -webkit-transition:color 0.4s ease;
    -moz-transition:color 0.4s ease;
    -o-transition:color 0.4s ease;
    -ms-transition:color 0.4s ease;
    transition:color 0.4s ease;
}
.main-menu span:hover,
.sub-menu span:hover {
    color:#53c7cb;
}
.main-menu span:active { /*Нужно подобрать цвет для активных линков*/
}
.sub-menu{
    list-style: none;
    display:none;
    height:33px;
    line-height:30px;
    margin: 0;
    padding:0 0 6px 11px;
    box-sizing:border-box;
    z-index:5;
}

.sub-menu li {
    display:inline;
    margin-right:15px;
}
/*.main-menu>li:hover .sub-menu{
    display:inline-block;
}*/
.content{
    margin:0;
    padding:0;
    display:block;
}
#grid {
    margin-top:25px;
}
#foot_buff{
    height:55px; /*для приклейки футера ко дну страницы*/
}
footer {
    font-size:12px;
    color:gray;
    height:55px;
    text-align:center;
    display:block;
    line-height:55px;
    vertical-align:middle;
    z-index:1;
}
footer a{
    color:#33849b;
}

/*layout styles end*/



/*Home page begin*/

.home-page .masonry-container {
    padding-top: 5px;
}

.home-page .photo {
    padding: 5px;
}

.home-page .photo img:hover {
    cursor: pointer;
    box-shadow:0 0 10px  1px #0d0d0d;
    -webkit-transition:box-shadow 0.35s ease;
    -moz-transition:box-shadow 0.35s ease;
    -o-transition:box-shadow 0.35s ease;
    -ms-transition:box-shadow 0.35s ease;
    transition:box-shadow 0.35s ease;
}

@media (min-width:992px)  and (max-width: 1200px){
    .home-page .masonry-container.col-md-8 {
        width: 68.5%;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .home-page .masonry-container.col-sm-12 {
        margin-left: 6%;
    }
}

@media (max-width:767px) {
    .home-page .masonry-container.col-sm-12 {
        margin-left: 4%;
    }
}

/*Home page end*/


/*Contacts page begin*/

.contacts .about_me {
    margin-top:30px;
    font-size:15px;
    color:grey;
    font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    position:relative;
    padding:0;
}

.contacts .about_me a {
    text-decoration:none;
    color:#33849b;
    display:inline-block;
    line-height:20px;
    vertical-align:top;
    height:20px;
}

.contacts .personal-info {
    height: 347px;
}

.contacts #photo {
    float: left;
    margin-left: 150px;
}
.contacts #text{
    text-align:left;
    padding-right: 20px;
}
.contacts h4 {
    color:#666;
    margin-bottom:15px;
}
.contacts span{
    display:block;
}
.contacts #contacts{
    text-align:left;
    margin-top: 50px;
}

.contacts .cont {

}

.contacts .info-box {
    float: right;
    max-width: 600px;
    margin: 50px 95px 0 0;
}

.contacts .ref-box {
    margin: 50px 0 0 150px;
}

.contacts .ref-box h4 {
    text-align: left;
}

.contacts .ref-box a {
    display:block;
}

.contacts .ref-box p {
    width: 200px;
    margin-left: 120px
}

.contacts .ref-box span {
    display: inline-block;
}

.contacts .video-ref, .vis-ref, .decor-ref {
    width: 450px;

}

.contacts .video-ref {
    text-align: left;
    margin-left: 130px;
}

.contacts .video-ref a {
    display: inline;
}

.contacts .video-ref .site {
    margin-left: 130px;
}

.contacts .video-ref div {
    margin-top: 50px;
    width: 260px;
}

.contacts .video-ref .img {
    float: right;
    position: relative;
    left: -20px;
    bottom: 95px;
    height: 150px;
}

.contacts .video-ref img {
    width: 150px;
    height: 150px;
}

.contacts .decor-ref {
    position: relative;
    left: 600px;
    bottom: 90px
}

.contacts .decor-ref a {
    display: inline;
}

.contacts .decor-ref .site {
    margin-left: 130px;
}

.contacts .decor-ref div {
    margin-top: 50px;
    width: 260px;
}

.contacts .decor-ref .vk {
    margin-left: 10px;
}

.contacts .decor-ref .img {
    float: right;
    position: relative;
    bottom: 110px;
    left: 10px;
    height: 180px;
}

.contacts .vis-ref {
    margin-top: 20px;
}

.contacts .vis-ref  div{
    position: relative;
    left: 60px;
}

.contacts .vis-ref a, .vis-ref span {
    display: inline-block;
}

.contacts .vis-ref span {
    position: relative;
    bottom: 150px;
}

/*Contacts page end*/