<div class="content">
    <div class="cont1">
        <h4>Весільна Фотосесія</h4>
        <p>
            - зйомка від збирання нареченої до першого танцю в ресторані (не менше 500 фото)<br>
            - обробка всіх фото<br>
            - запис фото на оформлений диск<br>
            &nbsp;&nbsp;ціна 300$<br>
            &nbsp;&nbsp;Обробка весільних фотографій триває до 1 місяця<br>
            &nbsp;&nbsp;Можлива зйомка до кінця  весілля (ціна обговорються окремо)
        </p>
    </div>
    <div class="cont2">
        <h4>Love story&nbsp;(перед/післявесільна фотосесія):</h4>
        <p>
            - тривалість зйомки до 1,5 години (40 фото)<br>
            - обробка всіх фото<br>
            - запис фото на оформлений диск<br>
            &nbsp;&nbsp;ціна 300&nbsp;грн<br>
            &nbsp;&nbsp;Обробка фотографій триває до 2 тижнів<br>
        </p>
    </div>
    <div class="cont3">
        <h4>Фотокнига:</h4>
        <p>
            - "Преміум" (тверді сторінки з пластиковою вставкою)<br>
            &nbsp;&nbsp;20 х 20 см, 10 розворотів - 390&nbsp;грн (додатковий розворот +20&nbsp;грн, обкладинка з шкірзамінника +85&nbsp;грн)<br>
            &nbsp;&nbsp;30 х 30 см, 10 розворотів - 520&nbsp;грн (додатковий розворот +25&nbsp;грн, обкладинка з шкірзамінника +100&nbsp;грн)<br>
        </p>
    </div>
</div>
<div class="photo">
    <img src="wedd_service/images/1.jpg" id="wed1" alt="Весільний Альбом - розворот" width="487" height="350">
    <img src="wedd_service/images/2.jpg" id="wed2" alt="Весільний Альбом - розворот" width="474" height="350">
</div>
<div class="content2">
    <p>
        - "Стандарт" (тверді сторінки)<br>
        &nbsp;&nbsp;23 х 23 см, 10 розворотів - 360&nbsp;грн (додатковий розворот +15 грн, обкладинка з шкірзамінника +90&nbsp;грн)<br>
        &nbsp;&nbsp;30 х 30 см, 10 розворотів - 430&nbsp;грн (додатковий розворот +20 грн, обкладинка з шкірзамінника +100&nbsp;грн)<br>
    </p>
    <img src="wedd_service/images/3.jpg" id="wed1" class="top_img" alt="Весільний Альбом - розворот" width="482" height="350">
    <img src="wedd_service/images/4.jpg" id="wed2" class="top_img" alt="Весільний Альбом - розворот" width="482" height="350">
    <img src="wedd_service/images/5.jpg" id="wed3" class="low_img" alt="Весільний Альбом - розворот" width="482" height="350">
    <img src="wedd_service/images/6.jpg" id="wed4" class="low_img" alt="Весільний Альбом - розворот" width="482" height="350">
    <img src="wedd_service/images/7.jpg" id="wed5" alt="Весільний Альбом - розворот" width="970" height="404">
</div>
<div class="skin_album">
    <p>Обкладинка фотокниги може бути зроблена із шкірзамінника. Згідно зразків Ви зможете обрати колір який Вам довподоби.</p>
    <img src="wedd_service/images/8.jpg" id="wed5" alt="Зразки обкладинок" width="970" height="388">
    <p>Обкладинки із шкірзамінника доступні в таких кольорах:</p>
    <img src="wedd_service/images/9.jpg" id="wed5" alt="Зразки обкладинок" width="970" height="509">
</div>