<div class="albums">
    <img src="school_albums/images/1.jpg" title="School Albums" alt="School Albums" height="354" width="970"/>
    <div class="alb" id="classic">
        <h4>Формати випусккних фотокниг:</h4>
        <p>"Класична"(тоненькі сторінки)<br>
            &nbsp;20 x 30 см - 190 грн<br>
            &nbsp;20 х 20 см - 180 грн<br>
            &nbsp;&nbsp;15 х 20 см - 160 грн<br>
        </p>
    </div>
    <div class="alb" id="standart">
        <p>"Стандарт"(тверді сторінки)<br>
            &nbsp;20 x 30 см - 210 грн<br>
            &nbsp;23 х 23 см - 220 грн<br>
    </div>
    <div class="alb" id="premium">
        <p>"Преміум"(тверді сторінки з пластиковою вставкою)<br>
            &nbsp;20 x 30 см - 240 грн<br>
            &nbsp;23 х 23 см - 250 грн<br>
    </div>
    <img src="school_albums/images/2.jpg" title="School Albums" alt="School Albums" id="school_album2" height="621" width="970"/>
    <img src="school_albums/images/3.jpg" title="School Albums" alt="School Albums" id="school_album3" height="706" width="970"/>
    <img src="school_albums/images/4.jpg" title="School Albums" alt="School Albums" id="school_album4" height="739" width="970"/>
    <img src="school_albums/images/5.jpg" title="School Albums" alt="School Albums" id="school_album5" height="684" width="970"/>
</div>